.chat-Btn {
    position: fixed;
    right: 14px;
    bottom: 30px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 22px;
    background-color: rgb(53, 53, 248);
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-Btn .close{
    display:none;
}
#check:checked ~ .chat-Btn i{
    display: block;
}
#check:checked ~ .chat-Btn .comment{
    display: none;
}
#check{
    display:none !important;
}
#check:checked ~ .chat-wrapper {
    opacity: 1;
  }
  
  .chat-wrapper {
    opacity: 0;
    position: fixed;
    right: 20px;
    bottom: 100px;
    z-index: 2;
    width: 300px;
    transition: all 0.4s;
  }
  
  .chat-header {
    background-color: blue;
    padding: 13px;
    margin-bottom: 10px;
    border-radius: 5px 5px 0px 0px;
    color: #fff;
  }